/* Importing fonts from folder */

/*
    FjallaOne
*/
@font-face {
    font-family: "FjallaOne";
    src: url("../../public/fonts/FjallaOne/FjallaOne-Regular.ttf");
};

/*
    Montserrat
*/
@font-face {
    font-family: "Montserrat-Light";
    src: url("../../public/fonts/Montserrat/Montserrat-Light.ttf")
};
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../../public/fonts/Montserrat/Montserrat-SemiBold.ttf")
};
@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../public/fonts/Montserrat/Montserrat-Bold.ttf")
};

/* 
    IBM Plex Sans
*/
@font-face {
    font-family: "IBMPlexSans-Light";
    src: url("../../public/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf")
};
@font-face {
    font-family: "IBMPlexSans-SemiBold";
    src: url("../../public/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf")
};
@font-face {
    font-family: "IBMPlexSans-Bold";
    src: url("../../public/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf")
};

